<!DOCTYPE html>
<html>
    <head>
        <title>Ryan's Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Ryans Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 25.06.2014, 1:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Test this first area.</p>
        </article>

        <article>
            <time>published: 26.06.2014, 1:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Test this 2nd area.</p>
        </article>
    </body>
</html>
